*~
/data
/build
/doxygen
*.tsv
/sim_imgs
*.so
*kdev4*
*.caffemodel
*.caffemodel.h5
*.pyc
*.out
*.zip
plot*

simulator/*~
simulator/data
simulator/build*
simulator/doxygen
simulator/*.tsv
simulator/sim_imgs
simulator/*.so
simulator/*kdev4*
simulator/*.caffemodel
simulator/*.caffemodel.h5
simulator/*.pyc
simulator/*.out
simulator/*.zip
simulator/envs/*.swp

/tasks/R2R/data/*.json
/tasks/R2R/plot*
/tasks/R2R/results/
/tasks/R2R/snapshots/
/tasks/R2R/data/v1
/tasks/R2R/*.swp
/tasks/R2R/follower/
/tasks/R2R/speaker/
/tasks/R2R/follower_traj/

/tasks/R4R/data/*.json
/tasks/R4R/plot*
/tasks/R4R/results/
/tasks/R4R/snapshots/
/tasks/R4R/data/v1
/tasks/R4R/*.swp
/tasks/R4R/follower/
/tasks/R4R/speaker/
/tasks/R4R/follower_traj/

/model/*.swp
# intellij
.idea/
*.iml

img_features
/run_script.sh
/val_all.bash
/val_all.sh
simulator/total_adj_list.json
src/vocab/vocab_data/sub_train_vocab.txt
src/vocab/vocab_data/train_glove.npy
src/vocab/vocab_data/train_vocab.txt
src/vocab/vocab_data/trainval_glove.npy
src/vocab/vocab_data/trainval_vocab.txt
tasks/R2T8/data/R2T8_R2R_train_landmark.json
tasks/R2T8/data/R2T8_R2R_train.json
tasks/R2T8/data/R2T8_R2R_val_unseen_landmark.json
tasks/R2T8/data/R2T8_R2R_val_unseen.json
tasks/R2T8/data/R2T8_R4R_train_landmark.json
tasks/R2T8/data/R2T8_R4R_train.json
tasks/R2T8/data/R2T8_R4R_val_unseen_landmark.json
tasks/R2T8/data/R2T8_R4R_val_unseen.json
tasks/R2T8/data/R2T8_R6R_train_landmark.json
tasks/R2T8/data/R2T8_R6R_train.json
tasks/R2T8/data/R2T8_R6R_val_unseen_landmark.json
tasks/R2T8/data/R2T8_R6R_val_unseen.json
tasks/R2T8/data/R2T8_R8R_train_landmark.json
tasks/R2T8/data/R2T8_R8R_train.json
tasks/R2T8/data/R2T8_R8R_val_unseen_landmark.json
tasks/R2T8/data/R2T8_R8R_val_unseen.json
tasks/R6R/data/R6R_train_landmark.json
tasks/R6R/data/R6R_train.json
tasks/R6R/data/R6R_val_unseen_landmark.json
tasks/R6R/data/R6R_val_unseen.json
tasks/R6R/follower/snapshots/follower_r6r_best_dec
tasks/R6R/follower/snapshots/follower_r6r_best_enc
tasks/R6R/speaker/snapshots/speaker_teacher_train_iter_54500_val_seen-bleu=37.410_dec
tasks/R6R/speaker/snapshots/speaker_teacher_train_iter_54500_val_seen-bleu=37.410_enc
tasks/R8R/data/R8R_train_landmark.json
tasks/R8R/data/R8R_train.json
tasks/R8R/data/R8R_val_unseen_landmark.json
tasks/R8R/data/R8R_val_unseen.json
tasks/R8R/follower/snapshots/follower_r8r_best_dec
tasks/R8R/follower/snapshots/follower_r8r_best_enc
tasks/R8R/speaker/snapshots/speaker_teacher_train_iter_54500_val_seen-bleu=37.410_dec
tasks/R8R/speaker/snapshots/speaker_teacher_train_iter_54500_val_seen-bleu=37.410_enc
